*{
    margin: 0;
    padding: 0;
}
nav{
    
    height: 4rem;
    background-color: black;
    color: coral;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
nav ul {
    list-style-type: none;
}
.gamecontainer{
        width: 100vw;
        height: 75vh;;
        background-color: coral;
       
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;       
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto Mono', monospace;
}
.box{
    border: 2px solid black;
    
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover {
    cursor: pointer;
    background-color: rgb(170, 117, 175);
    
}
.gameInfo {
    padding: 0 30px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
#heading{
    font-size: 1.5rem;
}
#reset {
    margin: 0 20px;
    padding: 3px 5px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid green;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-weight: bolder;

}
.imgbox img{
    width: 0;
    transition: width 2s ease-in-out;
}
.br-0 {
    border-right: 0;
}
.bl-0 {
    border-left: 0;
}
.bt-0 {
    border-top: 0;
}
.bb-0 {
    border-bottom: 0;
}
.info {
    font-size: 1.5rem;
}


